ipyleaflet==0.15
ipython==7.32.0
ipyvolume==0.6.0a8
ipywidgets==7.7.1
matplotlib==3.7.1
numpy>=1.21
pandas==2.0.2
requests==2.26.0
scipy==1.10.1
sympy==1.9
scikit-image
bqplot==0.12.39
ipympl==0.9.3
voila==0.3.6
